<div class="spinner-container">
  <div class="spinner-wrapper">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="loading-message">
    Aguarde um momento, a aplicação pode estar em processo de inicialização. Por favor, aguarde mais um pouco.
  </div>
</div>
