.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
}

.loading-message {
    margin-top: 10px;
}