<div class="container">
    <h2 class="text-center mt-3">Criar Nova Tarefa</h2>
    <form class="mt-4">
        <div class="form-group">
            <label for="title">Título:</label>
            <input type="text" class="form-control" id="title" [(ngModel)]="title" name="title">
        </div>
        <div class="form-group">
            <label for="description">Descrição:</label>
            <textarea class="form-control" id="description" [(ngModel)]="description" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <select class="form-control" id="status" [(ngModel)]="status" name="status">
                <option value="pendente">Pendente</option>
                <option value="concluido">Concluído</option>
            </select>
        </div>
        <div class="d-grid gap-2">
            <button type="button" (click)="createTask()" class="btn btn-primary">Criar Tarefa</button>
            <button (click)="redirection()" class="btn btn-secondary mt-2">Voltar</button>
        </div>
    </form>
</div>
