<div class="wrapper">
  <div *ngIf="!loading" class="body">
    <img class="logo" src="../../../assets/img/login.png" alt="img login">
    <h3>Register</h3>

    <div class="form-floating mb-3 mt-3">
      <input type="text" [(ngModel)]="username" class="form-control" id="username" placeholder=" ">
      <label for="username">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" [(ngModel)]="email" class="form-control" id="email" placeholder=" ">
      <label for="email">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" [(ngModel)]="password" class="form-control" id="password" placeholder=" ">
      <label for="password">Password</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" [(ngModel)]="confirmPassword" class="form-control" id="confirmPassword" placeholder=" ">
      <label for="confirmPassword">Repeat Password</label>
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-primary" (click)="addUser()" type="button">Submit</button>
    </div>
    <p>Already have an account? <a routerLink="/login">Login</a></p>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
